@model Power.Controllers.Return<Power.Domain.RingsAggregate.Entities.Ring>
@{
    ViewBag.Title = "Lista de Anéis";
}

<h2>Lista de Anéis</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Poder</th>
        <th>Portador</th>
        <th>Forjador</th>
        <th>Imagemm</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Data.Any())
    {
        foreach (var ring in Model.Data)
        {
            <tr>@ring.Id</tr>
            <tr>@ring.Name</tr>
            <tr>@ring.Power</tr>
            <tr>@ring.Carrier</tr>
            <tr>@ring.ForgedBy</tr>
            <tr>@ring.Image</tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5">Nenhum anél encontrado</td>
        </tr>
    }

    </tbody>
</table>